.divider {
  background-color: #dcdfe6;
  position: relative;
  display: flex;
  height: 1px;
  width: 100%;
  margin: 5px 0;
}
.card {
  width: 100%;
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  -webkit-transition: .3s;
  transition: .3s;
  margin: auto;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}

button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  border-radius: 4px;
}