<template>
  <div class="home">
    <button
      v-on:click="$router.push('/create')">
      add note
    </button>
<!--    генирируем массив компонентов по количеству записок-->
    <note
      v-for="note in notes"
      :key="note.id"
      :note="note"/>
  </div>
</template>

<script>
// @ is an alias to /src
import Note from '@/components/Note'

export default {
  name: 'Home',
  components: {
    Note
  },
  computed: {
    //получаем все записки
    notes () {
      return this.$store.getters.getNotes
    }
  }
}
</script>
