<template>
  <div>
    <div class="card">
      <h1>{{ title }}</h1>
      <div class="form">
        <label>
          Title:
          <input
            v-model="defaultNote.title">
        </label>
        <!--        отрисовываем список дел-->
        <div
          v-for="(todo, index) in defaultNote.todoList"
          :key="index">
          TODO:
          <input
            type="checkbox"
            v-model="todo.checkbox">
          <input
            v-model="todo.text">
          <!--          если последний элемент, рисуем кнопку добавления дела-->
          <button
            v-if="index === (defaultNote.todoList.length - 1)"
            v-on:click="addTodo">
            +
          </button>
          <!--          если не первый элемент, рисуем кнопку удаления дела-->
          <button
            v-if="index > 0"
            v-on:click="deleteTodo(index)">
            -
          </button>
        </div>
        <div class="f-l">
          <button v-on:click="save">
            Save
          </button>
          <!--          кнопка удаления рисуется только, если это не новая записка-->
          <button
            v-if="this.$route.params.id"
            v-on:click="showDeleteModal = true">
            Delete
          </button>
          <!--          кнопка отмены изменений, открывает подтверждающее модальное окно-->
          <button v-on:click="showCancelModal = true">
            Cancel
          </button>
          <!--          кнопка отмены последней операции, выключена пока не произойдет изменение-->
          <!--          при отмене операции, превращается в кнопку повтора отмененного действия-->
          <div v-if="this.$route.params.id">
            <button
              :disabled="!newOperation"
              v-on:click="cancelOperation">
              {{ buttonText }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--    модальное окно отмены изменений, при подтверждении возвращает на главную-->
    <confirm-modal v-if="showCancelModal" @close="showCancelModal = false" @confirm="$router.push('/')">
      <h3 slot="header">Confirm your action</h3>
      <p slot="body">Are you sure you want to cancel?</p>
    </confirm-modal>
    <!--    модальное окно удаления записки, при подтверждении вызывает функцию удаления записки -->
    <confirm-modal v-if="showDeleteModal" @close="showDeleteModal = false" @confirm="deleteNote">
      <h3 slot="header">Confirm your action</h3>
      <p slot="body">Are you sure you want to to delete this note?</p>
    </confirm-modal>
  </div>
</template>

<script>
import ConfirmModal from '../components/ConfirmModal'

export default {
  components: {
    ConfirmModal
  },
  name: 'NoteForm',
  mounted () {
    //при открытии страницы проверяется тип действия с запиской и изменяей заголовок
    if (this.$route.path === '/create') {
      this.title = 'Create note'
    } else if (this.$route.params.id) {
      this.title = 'Change note'
      this.actionType = 1 //тип действия 1 - изменение
      this.defaultNote = this.$store.getters.getNoteByID(this.$route.params.id) //получаем информацию о записке по айди
      this.$nextTick(() => {
        this.newOperation = false //так как при загрузке данных о записке срабатывает вотч, флаг новой операции обнуляем
      })
      if (!this.defaultNote) { //если записки по такому айди нет, то отправляет на страницу 404
        this.$router.push('/404')
      }
    }
  },
  data () {
    return {
      actionType: 0, //тип действия, по умолчанию 0 - создание новой; 1 - изменение
      buttonText: 'Cancel last operation',
      buttonTitles: [
        'Cancel last operation',
        'Repeat canceled operation'
      ],
      showCancelModal: false, //флаг открытия модального окна для отмены изменений
      showDeleteModal: false, //флаг открытия модального окна для удаления записки
      newOperation: false, //флаг на операцию по изменению данных
      title: '', //заголовок страницы. изменение или создание
      defaultNote: { //дефолтная структура записки
        title: null,
        todoList: [
          {
            checkbox: false,
            text: null
          }
        ]
      },
      lastState: null //последнее состояние объекта до изменения
    }
  },
  computed: {
    clonedState () {
      return JSON.stringify(this.defaultNote) //т.к. при вотче объектов не сохраняется старое значение, парсим в JSON
    }
  },
  watch: {
    clonedState: { //ставим вотч
      handler (val, oldVal) {
        this.lastState = JSON.parse(oldVal) //старое значение парсим обратно в объект и записываем в lastState
        this.newOperation = true //ставим флаг, что произошло изменение
      }
    }
  },
  methods: {
    //функция добавления дела
    addTodo () {
      this.defaultNote.todoList.push( //в массив дел пушим объект дела
        {
          checkbox: false,
          text: null
        })
    },
    //функция удаления дела
    deleteTodo (index) {
      this.defaultNote.todoList.splice(index, 1) //из массива дел удаляем дело по индексу
    },
    //функция сохранения/обновления
    save () {
      if (!this.actionType) { //если тип действия создание
        this.$store.commit('ADD_NOTE', this.defaultNote) //вызываем мутацию добавления записки
      } else { //иначе
        this.$store.commit('UPDATE_NOTE', this.defaultNote) //вызываем мутацию обновления
      }
      this.$router.push('/') //после сохранения/обновления возвращаемся на главную стрницу
    },
    //функция удаления записки
    deleteNote () {
      this.showDeleteModal = false //закрываем модальное окно
      this.$store.commit('DELETE_NOTE', this.$route.params.id) //вызываем мутацию удаления записки
      this.$router.push('/') //возвращаемся на главную страницу
    },
    //функция отмены последней операции
    cancelOperation () {
      this.defaultNote = this.lastState //объекту записки присваиваем последнее состояние
      if (this.buttonText === this.buttonTitles[0]) { //в зависимости от текущего названия кнопки
        this.buttonText = this.buttonTitles[1]        //меняем название
      } else {
        this.buttonText = this.buttonTitles[0]
      }
    }
  }
}
</script>

<style scoped>
.form {
  text-align: left;
  display: grid;
}
</style>