<template>
  <div>
    <div class="wscn-http404">
      <div class="pic-404">
        <img
          class="pic-404"
          src="@/assets/404_images/404.png"
          alt="404">
      </div>
      <div class="text-404">
        <div>
          Упс!
        </div>
        <div>
          {{ message }}
        </div>
        <div>
          Убедитесь, что введенный вами URL-адрес верен. Нажмите кнопку ниже, чтобы вернуться на домашнюю страницу.
        </div>
        <a href="/">На главную</a>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Page404',
  computed: {
    message () {
      return 'Сервер сказал, что вы не можете попасть на эту страницу......'
    }
  }
}
</script>

<style scoped>
.pic-404 {
  width: 100%;
  max-width: 450px;
  margin: auto;
}
.wscn-http404 {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.text-404 {
  position: relative;
  float: left;
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
}

</style>
