<template>
  <div>
    <div class="note">
      <div class="card">
        <p class="title">{{ note.title }}</p>
<!--        кнопка для перехода к изменению записки-->
        <button
          v-on:click="$router.push('/change/'+note.id)"
          class="f-r">
          Change
        </button>
<!--        кнопка открывает подтверждающее модальное окно-->
        <button
          class="f-r"
          v-on:click="showModal = true">
          Delete
        </button>
        <div class="divider" />
<!--        отрисовывает список дел с заблокированными чекбоксами-->
        <div
          class="todo"
          v-for="(item, index) in getTodoList"
          :key="index">
          <input
            type="checkbox"
            v-model="item.checkbox"
            disabled>
          <span>{{ item.text }}</span>
        </div>
      </div>
    </div>
<!--    компонент модального окна, при подтверждении вызывает функцию удаления записки-->
    <confirm-modal v-if="showModal" @close="showModal = false" @confirm="deleteNote">
      <h3 slot="header">Confirm your action</h3>
      <p slot="body">Are you sure you want to delete this note?</p>
    </confirm-modal>
  </div>
</template>

<script>
import ConfirmModal from './ConfirmModal'

export default {
  components: {
    ConfirmModal
  },
  name: 'Note',
  props: {
    note: {
      type: Object,
      required: true
    },
    //можно установить количество дел, которые будут отображаться на главной, по умолчанию 3
    count: {
      type: Number,
      default: 3
    }
  },
  data () {
    return {
      showModal: false
    }
  },
  computed: {
    //получаем список дел для рендера
    getTodoList () {
      if (this.note.todoList.length <= this.count) { //если дел меньше или равно заданному количеству отображаемых элементов
        return this.note.todoList //возвращаем весь список дел
      }
      return this.note.todoList.slice(0, this.count) //иначе возвращаем сокращенный массив до нужного количества элементов
    }
  },
  methods: {
    //удаление записки
    deleteNote () {
      this.showModal = false //закрываем модальное окно
      this.$store.commit('DELETE_NOTE', this.note.id) //вызываем мутацию удаления записки, передаем айди
    }
  }
}
</script>

<style scoped>
.note {
  margin: 15px;
}

.todo {
  display: flex;
}

.title {
  font-size: 14px;
  float: left;
  padding: 5px;
}
</style>
